<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cari Alternatif Rute Busway Tercepat</title>
    <link rel="stylesheet" href="css/ruteB.css">
</head>
<body>

    <%- include('layout/navbar.ejs') %>

    <div class="container-ruteB">
        <h1>Rute Busway</h1>
        <form id="routeForm">
            <input type="text" id="origin" placeholder="Lokasi asal">
            <br>
            <input type="text" id="destination" placeholder="Lokasi tujuan">
            <br>
            <button class="button-50" role="button"  type="submit" value="Cari">Cari</button>
        </form>
        <div id="results"></div>
    </div>

    <!--Penambahan rute-->>
<div class="container">
    <div id="routes-list"></div>
    <form id="route-form">
        <input type="text" id="route-name" placeholder="Enter Route Name" required>
        <button type="submit"><i class="fas fa-plus"></i> Add Route</button>
        <button type="button" id="save-route"><i class="fas fa-save"></i> Save</button>
    </form>
</di
    <%- include('layout/footer.ejs') %>

    <script src="js/ruteB.js"></script>
</body>
</html>
